/* Cars Section */
.cars-section {
  padding: 4rem 0;
}

.cars-section h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.cars-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4rem;
  max-width: 1000px;
  margin: 0 auto;
}

.car-card {
  background: var(--background);
  width: 500px;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.car-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
}

.car-image {
  position: relative;
  height: 190px;
  overflow: hidden;
}
.Traveller .Ertiga{
  position: relative;
  height: 250px;
  overflow: hidden;
}

.car-image img {
  width: 95%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.car-card:hover .car-image img {
  transform: scale(1.1);
}

.car-content {
  padding: 1.5rem;
}

.car-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.car-description {
  color: var(--text-muted);
  margin-bottom: 1rem;
}

.car-features {
  display: flex;
  gap: 1rem;
  color: var(--text-muted);
  font-size: 0.875rem;
}

.feature {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}